

body{
  background-color: black;
  color: whitesmoke;
  font-family: Copperplate;
  font-weight:bold ;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
} 
.first_background{
  background-image: url("Black_and_Teal_Modern_Hackathon_Banner_Landscape.webp");
  padding: 330px;
  background-size: 1520px;
}
.second_background{
  background-image: url("dark-black-background-design.png");
  padding: 210px;
  background-size: 1520px;
}
.background-contact{
  background-image: url("contact.png");
  padding: 210px;
  background-size: 1520px;
}
.background-gallery{
  background-color: transparent;
  padding: 210px;
  background-size: 1520px;
}
.thirdbackground{
  padding: 120px;
}
h1{
  margin-inline: -350px;
}
h4{
  margin-inline: -350px;
}
p{
  text-align: center;
}
.about_me{
 background-color: lightgoldenrodyellowx ;
 margin-top: -200px;
 border: solid 6px whitesmoke;
 border-radius: 15px;
 padding: 20px 30px;
 font-size: 24px;
 width: 100%;
 font-weight: 700;
 color: wh;
 transition: transform 0.3s ease; 
}
.about_me:hover{
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
background-color: lightgrey;
  margin-top: -200px;
 border: solid 6px darkcyan;
 border-radius: 15px;
 padding: 20px 30px;
 font-size: 24px;
 width: 100%;
 font-weight: 700;
 color: black;
 transform: scale(1.30);
 box-shadow: 0 0 20px rgba(0, 255, 255, 0.8); 
}
.drew{
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
            background-color: none;
            padding: 15px 25px;
            font-family: sans-serif;
            }
        nav ul {
            list-style-type: none;
            margin-top: -5px;
            padding: 0;
            text-align: center;
            le
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
            font-size: 22px;
            font-family: ;
            
        }
        nav ul li a {
            text-decoration: none;
            color: black;
            font-family: fantasy;
            padding: 20px;
            text-transform: uppercase;
             border: solid 2px whitesmoke;
            background-color: whitesmoke ;
            border-radius: 50px;
            transition: transform 0.3s ease; 
         

        }
        nav ul li a:hover{
            text-decoration: none;
            color: whitesmoke;
            font-family: fantasy;
            padding: 20px;
            text-transform: uppercase;
             border: solid 2px black;
            background-color: transparent ;
            border-radius: 50px;
            transform: scale(1.30);
            box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
         

        }
               nav a:hover {
            color: skyblue;
         opacity: 4;
        transform: translateX(5px); 
       transition: opacity 0.3s ease-in-out, transform 5s ease-in-out;
       animation-name: name;
       color: whitesmoke;
      animation-duration: 2s;
      transform: scale(1.30);
      box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
      transition: transform 2s ease;  
        }
       
legend{
  font-size: 40px;
    color: skyblue;
    text-align: center;
    margin-top: -400px;
    padding: 40px;
    margin-left: 130px;
}
.friend{
    color: whitesmoke;
    text-align: ; 
    display: ; 
}
.head{
  border: solid;
    border-width: 2px;
  background-size:100%;
    border-color: skyblue;
}
footer{
 background-color: black;
  padding: 1px;
}
img{
    margin-left: 800px;
    height: 500px;
    width: 400px;  
}
.holder{
color:black;
}
span{
    color: whitesmoke;
    text-align: center;
}
legend{
    font-size: 40px;
    color: skyblue;
    text-align: center;
}
.head{
    border: solid;
    border-width: 2px;
    background-size:100%;
    border-color: skyblue;
}
.fieldset{
    padding: 80px;
    color: skyblue;
    border-width: 10px;
    text-align: center;
    margin-top: -50px;
    border-radius: 54px;
    margin-left: 100px;

}
input{
  color: black;
}

.text{

    font-family: cursive;
    margin-left: -150px;
    font-size: 15px;
    color: whitesmoke;
}
/* From Uiverse.io by krlozCJ */ 
.container {
  position: relative;
  --size-button: 40px;
  color: white;
  margin-left: 1100px;
  margin-top: -55px;
}
.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: white;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191A1E;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -20px;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: -20px;
  left: -5px;
  padding: 8px;
  pointer-events: none;
  color: skyblue;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}
::placeholder{
    color: skyblue;
  }
  form input::placeholder{
    color: black;
  }
.card {
  position: relative;
  width: 220px;
  height: 320px;
  background-image: url("hover_background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 35%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: skyblue;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover:after {
   background-image: url("ben10.jpg"); 
  background-size: 100%;
}
.card1 {
  position: relative;
  width: 220px;
  height: 320px;
  background-image: url("hover_background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.card1::before,
.card1::after {
  position: absolute;
  content: "";
  width: 35%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color:  lightskyblue;
  transition: all 0.5s;
}

.card1::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card1::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card1:hover::before,
.card1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card1:hover:after {
  background-image: url("PhineasNFerbPoster.jpg"); 
  background-size: 100%;
}
.card2 {
  position: relative;
  width: 220px;
  height: 320px;
  background-image: url("hover_background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.card2::before,
.card2::after {
  position: absolute;
  content: "";
  width: 35%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightskyblue;
  transition: all 0.5s;
}

.card2::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card2::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card2:hover::before,
.card2:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card2:hover:after {
    background-image: url("SpongeBob_SquarePants.jpg"); 
  background-size: 100%;

}
.card3 {
  position: relative;
  width: 220px;
  height: 320px;
 background-image: url("hover_background.jpg");
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.card3::before,
.card3::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 20%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  background-color: lightskyblue;
  transition: all 0.5s;
}

.card3::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card3::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card3:hover::before,
.card3:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card3:hover:after {
  background-image: url("tom&jerry.jpg"); 
  background-size: 100%;

}
input{
  background: whitecyan;
  border: solid cyan 1px;
  border-radius: 10px;

}

body {
  background: #00060c;
}
.font1 {
  font-family: Arial (sans-serif);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  font-size: 24px;

}
.font2 {
  font-family: Arial (sans-serif);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.fontshadow {
  text-shadow: 1px 1px 5px cyan;
}
#search {
  border: solid cyan 1px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
::placeholder {
  font-size: 12px;
  font-style: italic;
  padding-left: 10px;
}
.button {
  background: transparent;
  border: solid cyan 1px;
  border-radius: 50px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 50px;
}
.button:hover {
  color: white;
  background-color: skyblue;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 50px;
}
.button2 {
  background: cyan;
  border: solid cyan 1px;
  border-radius: 50px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 50px;
}
.button2:hover {
  color: white;
  background-color: #00060c;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 50px;
}
.button3 {
  background: black;
  border: solid cyan 1px;
  border-radius: 50px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.button3:hover {
  color: white;
  background-color: darkcyan;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.button4 {
  background: cyan;
  border: solid cyan 1px;
  border-radius: 50px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 40px;
}
.button4:hover {
  color: white;
  background-color: #00060c;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  width: 350px;
  height: 40px;
}
.typing-effect {
  display: inline;
  border-right: 2px solid;
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white; 
  }
}
.fade-in-up {
  opacity: 0;
  transform: translateY(50px) scale(1); 
  transition: opacity 0.3s ease-in-out, transform 5s ease-in-out;
  animation-delay: 0.4s;
  animation-name: name;
  color: whitesmoke;
  animation-duration: 2s;
}
@keyframes name{
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
.fade-in-up.show {
  opacity: 1;
  transform: translateY(0); 
}
#aboutme, .courses, .project{
  border: solid cyan 1px;
  border-radius: 50px;
  margin: 30px 100px 100px;
}
.cname {
  border-radius: 50px;
}
.zoom-effect {
  transition: transform 0.3s ease; 

}
.zoom-effect:hover {
  transform: scale(1.30);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);

}
.glow:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}
.projectimages {
  width: 500px; 
  height: 250px; 
  margin: 30px 50px 0px 90px; 
  border: solid 2px white;
  border-radius: 30px;
}
.fade-in {
  opacity: 0; /* Initially invisible */
  transition: opacity 2s ease-in; /* Duration and easing of fade-in */
}

.fade-in-visible {
  opacity: 1; /* Fully visible */
}
.tablink {
  color: darkgray;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 5px;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
}

.tablink:hover {
  color: white;
  background-color: cyan;
}
.tabcontent {
  color: white;
  display: none;
  padding: 80px 20px;
  height: 100%;
  margin-top: -1px;
  margin-left: -20px
}
.tech, .tools {
  border: solid 1px cyan;
  width: 150px;
  height: 50px;
}
.inline {
  display: inline-block;
  vertical-align: top
}
.inline2 {
  display: inline-block;
  vertical-align: top
}
.contact {
  border: solid 1px cyan;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background-color: #00060c;
}
.contactInput {
  border: solid cyan 1px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  width: 350px;
  height: 40px;
  margin: 10px 0px;
  padding: 10px;
}
textarea {
  border: solid cyan 1px;
  border-radius: 50px;
  background-color: transparent;
  height: 150px;
  width: 350px;
  margin: 10px 0px;
  padding: 20px;
  resize: none;
  color: white;
}
.long {
  text-align: justify; 
  padding: 10px 50px;
}
.prj {
  width: 700px; 
  height: 450px;
}
.tab {
  margin-left: 150px; 
  margin-right: 150px;
}
.part1contact {
  padding-left: 25px; 
  padding-top: 20px
}
.form {
  padding-left: 25px; 
  padding-top: 30px
}
.inline-block {
  display: inline-block; 
  width: 45%; 
}
.cimage1 {
  width: 25px; 
  margin-top: 15px; 
  margin-left: 25px;
}
.cimage2 {
  width: 30px; 
  margin-top: 15px; 
  margin-left: 20px;
}
@media (max-width: 1034px) {
  .search {
    display: none;
  }
  .w3-col.s4{width:49.99999%}
  #home {
    background-attachment: fixed;
  }

}
@media (max-width: 1191px) {
  .search {
    display: none;
  }
  .w3-col.s4{width:49.99999%}
  #home {
    background-attachment: fixed;
  }
  .inline {
    margin-bottom: 20px;
  }


}
@media (max-width: 875px) {
  .w3-col.s6{
    
  }
  .adjust {
    
  }
  .contact {
    border: solid 1px cyan;
    border-radius: 10px;
    width: 400px;
    height: 1000px;
    margin: 0 auto;
    background-color: #00060c;
  }
  .inline-block {
    display: inline-block; /* Allow centering */
        width: 80%; /* Set width as needed */
  }
}

@media (max-width: 721px) {
  .cc {
    width: 50%;
        margin: 0 auto;
  }
  .courses {
    margin-bottom: 10px;
  }
  .last {
    margin-bottom: 100px;
  }
}
@media (min-width: 722px) {
  .cc {
    display: flex; 
    justify-content: center;"
  }
}
@media (max-width: 689px) {
  .nav {
    float:right!important;
    .w3-col.s4{width:16.66666%}
    font-size: 14px;
  }

}

@media (max-width: 660px) {
  .nav {
    float:right!important;
    .w3-col.s4{width:16.66666%}
    font-size: 12px;
  }
  .cc {
        margin: 0 auto;
  }

}
@media (max-width: 604px) {
  .nav {
        display: flex;
        justify-content: center; 
      align-items: center; 
  }
  .cc {
        margin-left: 120px;
  }
  .w3-xlarge{
    font-size:14px!important;
  }
  .long {
    padding: 5px 25px;
  }
  .contact {
    border: solid 1px cyan;
    border-radius: 10px;
    width: 250px;
    height: 1000px;
    margin: 0 auto;
    background-color: #00060c;
  }
  .projectimages {
    width: 400px;
    height: 250px; 
    margin: 30px 50px 0px 50px; 
    border: solid 2px white;
    border-radius: 30px;
  }
  .w3-large{font-size:14px!important}

  .inline {
    display: flex;
    margin-bottom: 20px;
  }
  .contactInput {
    border: solid cyan 1px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    width: 200px;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
  }
  textarea {
    border: solid cyan 1px;
    border-radius: 50px;
    background-color: transparent;
    height: 150px;
    width: 200px;
    margin: 10px 0px;
    padding: 20px;
    resize: none;
    color: white;
  }
  .cimage1 {
    width: 20px; 
    margin-top: 11px; 
    margin-left: 1px;
  }
  .cimage2 {
    width: 25px;  
    margin-top: 12px; 
    margin-left: -2px;
  }
  .font2 {
    font-size: 11px;
    margin-right: -40px;
  }

}
@media (max-width: 480px){
  .nav {
        display: flex;
        justify-content: center; 
      align-items: center;
      float:left!important;
          
      font-size: 10px;
  }
  .wm {
    
  }
  .cc {
        margin-left: 10px;
  }
  .w3-xlarge{
    font-size:8px!important;
  }
  .long {
    padding: 5px 25px;
  }
  .projectimages {
    width: 200px;
    height: 150px; 
    margin: 30px 50px 0px 50px; 
    border: solid 2px white;
    border-radius: 30px;
  }
  .w3-large{font-size:11px!important}
  .prj {
    height: 330px;
  }

}
@media (max-width: 480px){
  .nav {
        display: flex;
        justify-content: center; 
      align-items: center;
      float:left!important;
      margin-left: 95px;  
      font-size: 9px;
  }
  .wm {
    display: none;
  }
  .cc {
        margin-left: 10px;
  }
  .w3-xlarge{
    font-size:8px!important;
  }
  .long {
    padding: 5px 25px;
  }
  .projectimages {
    width: 200px;
    height: 150px; 
    margin: 30px 50px 0px 50px; 
    border: solid 2px white;
    border-radius: 30px;
  }
  .w3-large{font-size:11px!important}
  .prj {
    height: 330px;
  }
  .tab {
    margin-left: 70px; 
    margin-right: 150px;
  }
}
@media (max-width: 390px){
  .nav {
        display: flex;
        justify-content: center; 
      align-items: center;
      float:left!important;
      margin-left: 95px;  
      font-size: 9px;
  }
  .wm {
    display: none;
  }
  .cc {
        margin-left: 10px;
  }
  .w3-xlarge{
    font-size:8px!important;
  }
  .long {
    padding: 5px 25px;
  }
  .projectimages {
    width: 200px;
    height: 150px; 
    margin: 30px 50px 0px 50px; 
    border: solid 2px white;
    border-radius: 30px;
  }
  .w3-large{font-size:11px!important}
  .prj {
    height: 330px;
  }
  .tab {
    margin-left: 70px; 
    margin-right: 150px;
  }

}
